fluxos/chatbot_backup.json
{
  "name": "chatbot",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "webhook",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        1520,
        260
      ],
      "id": "3330db28-46b7-4d74-8e4f-85492d55b81f",
      "name": "Webhook",
      "webhookId": "cadd09cf-3507-4c7d-b85e-57f2f471a015"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "21006793-5ad2-48b0-aa9a-d64b627e9cf3",
              "name": "session",
              "value": "={{ $('Webhook').item.json.body.session }}",
              "type": "string"
            },
            {
              "id": "ec6bca56-29c6-4e81-81fe-e1a5184e581f",
              "name": "chatId",
              "value": "={{ $('Webhook').item.json.body.payload.from }}",
              "type": "string"
            },
            {
              "id": "d199e616-9772-48d1-8cd6-fdb8b820e7b3",
              "name": "pushName",
              "value": "={{ $('Webhook').item.json.body.payload._data.Info.PushName }}",
              "type": "string"
            },
            {
              "id": "466fbac7-2a10-405e-9bda-ba69b18a8294",
              "name": "payloadId",
              "value": "={{ $('Webhook').item.json.body.payload.id }}",
              "type": "string"
            },
            {
              "id": "18a86d59-fade-4461-a7bb-270801a174c4",
              "name": "event",
              "value": "={{ $('Webhook').item.json.body.event }}",
              "type": "string"
            },
            {
              "id": "710022ae-6828-4b3c-b9ca-ed52204f035d",
              "name": "message",
              "value": "={{ $('Webhook').item.json.body.payload.body }}",
              "type": "string"
            },
            {
              "id": "39769a81-ce60-4d6b-85b8-8854332b6a98",
              "name": "fromMe",
              "value": "={{ $('Webhook').item.json.body.payload.fromMe }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1760,
        180
      ],
      "id": "0fc3f08c-1de2-41ac-9764-dbceb5724396",
      "name": "dados"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.event }}",
                    "rightValue": "message",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "8e0656d3-e277-4f1b-a5fa-86f1247f71d0"
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1940,
        180
      ],
      "id": "161ecbf5-5183-437a-bdf7-9b0c5376adfc",
      "name": "Switch"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message }}",
        "options": {
          "systemMessage": "=NÃO ENVIE MENSAGENS PARA OS GRUPOS DO WHATSAPP e não enviar nada para os status\n\nVocê irá fornecer para outros usuários do WhatsApp informações sobre vendas. As mensagens podem incluir solicitações como:\n\n- Total de vendas no mês\n- Faturamento do dia (fazendo a somatória do valor de venda)\n- Comparação de valores entre o ano atual e o anterior\n- Comparação de valores entre o mês atual e o anterior\n\nResponda de forma clara, objetiva e amigável, utilizando linguagem natural e acessível. Quando possível, destaque valores com formatação adequada (ex: R$ 1.250,00) e ofereça contexto adicional útil para a tomada de decisão.\n\nSeu banco de dados é esse aqui: {{ $json.content }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        2500,
        260
      ],
      "id": "06294119-cde6-48b5-a5fd-d1b85599512b",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('dados').item.json.chatId }}",
        "sessionTTL": 3600,
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.5,
      "position": [
        2620,
        460
      ],
      "id": "bf686876-9b7d-437b-8358-2d001185aea0",
      "name": "Redis Chat Memory",
      "credentials": {
        "redis": {
          "id": "ty4uB0gOfLvKNJq6",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Send Text",
        "session": "={{ $('dados').item.json.session }}",
        "chatId": "={{ $('dados').item.json.chatId }}",
        "text": "={{ $('AI Agent').item.json.output }}",
        "requestOptions": {}
      },
      "type": "@devlikeapro/n8n-nodes-waha.WAHA",
      "typeVersion": 202502,
      "position": [
        3100,
        260
      ],
      "id": "9e2ed1a6-4dd9-412d-be12-2bc27fc966f5",
      "name": "enviar mensagem",
      "credentials": {
        "wahaApi": {
          "id": "ZvtcjSRygP1xcHDZ",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Send Seen",
        "session": "={{ $('dados').item.json.session }}",
        "chatId": "={{ $('dados').item.json.chatId }}",
        "messageId": "={{ $('dados').item.json.payloadId }}",
        "participant": "",
        "requestOptions": {}
      },
      "type": "@devlikeapro/n8n-nodes-waha.WAHA",
      "typeVersion": 202502,
      "position": [
        2880,
        260
      ],
      "id": "b2bec906-a21b-43e9-9333-c9dc76200b00",
      "name": "visualizar mensagem",
      "credentials": {
        "wahaApi": {
          "id": "ZvtcjSRygP1xcHDZ",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "use dbproinfo;\n\nSELECT *\nFROM tbVendasDashboard\nWHERE dtVenda = (\n    SELECT MAX(dtVenda)\n    FROM tbVendasDashboard\n    WHERE vlVenda IS NOT NULL\n)\nAND vlVenda IS NOT NULL;"
      },
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1.1,
      "position": [
        1760,
        440
      ],
      "id": "51697cec-5d12-4fe7-bdce-a349438ce3fe",
      "name": "Consulta para verificar o valor da venda do dia atual está preenchida",
      "credentials": {
        "microsoftSql": {
          "id": "nFBSJqeOZaLoIp71",
          "name": "Microsoft SQL account 2"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1800,
        -60
      ],
      "id": "d9471cbe-31ec-49b9-b523-a2b847b6a306",
      "name": "Fixar webhook quando chegar na sala"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1540,
        -60
      ],
      "id": "9a6060e0-c884-4348-b7a8-f88b7101882e",
      "name": "Anexar webhook no waha"
    },
    {
      "parameters": {
        "jsCode": "const vendasFormatadas = items.map((item) => {\n  const { idVendas, nrCNPJ, nmFilial, dtVenda, vlVenda, txMeta } = item.json;\n\n  const dataFormatada = new Date(dtVenda).toLocaleDateString(\"pt-BR\", {\n    day: \"2-digit\",\n    month: \"2-digit\",\n    year: \"numeric\",\n  });\n\n  return `Venda ${idVendas} | CNPJ: ${nrCNPJ} | Filial: ${nmFilial} | Data: ${dataFormatada} | Valor: R$ ${parseFloat(vlVenda).toFixed(2)} | Meta: ${txMeta}`;\n});\n\nreturn [\n  {\n    json: {\n      content: vendasFormatadas.join('\\n')\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1960,
        440
      ],
      "id": "088416b9-f285-41f0-a34c-a70e0032478d",
      "name": "Formatando dados vindos do banco"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        2180,
        260
      ],
      "id": "8cb44301-8128-4367-950e-d926597c7e5b",
      "name": "Merge"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        2480,
        440
      ],
      "id": "954c3a08-2080-46f8-98ed-39db993aff71",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "NPt1KRlGyPHsdiaY",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\n\nreturn [{\n  json: {\n    message: String(item.json.message || ''),\n    content: typeof item.json.content === 'string'\n      ? item.json.content\n      : JSON.stringify(item.json.content || '')\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2340,
        260
      ],
      "id": "d32da4f7-ceb9-41ba-b835-574e26cfa7e5",
      "name": "Corrigindo formato da mensagem"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "accept": "application/json, text/plain, */*",
            "content-type": "application/json",
            "user-agent": "WAHA/2025.4.1",
            "x-webhook-request-id": "01JWBV6NZGDT9HZ5NXWPADZKS0",
            "x-webhook-timestamp": "1748449318895",
            "content-length": "2428",
            "accept-encoding": "gzip, compress, deflate, br",
            "host": "host.docker.internal:5678",
            "connection": "keep-alive"
          },
          "params": {},
          "query": {},
          "body": {
            "id": "evt_01jwbv6nzfyf1mwtsrcdttc9np",
            "timestamp": 1748449318895,
            "event": "message",
            "session": "default",
            "metadata": {},
            "me": {
              "id": "557999165932@c.us",
              "pushName": "William Andrade🤙🏽",
              "jid": "557999165932:71@s.whatsapp.net"
            },
            "payload": {
              "id": "false_557996627815@c.us_3EB0B378162B0AF4223FB9",
              "timestamp": 1748449319,
              "from": "557996627815@c.us",
              "fromMe": false,
              "source": "app",
              "body": "Entendi que você está procurando por informações de vendas! Eu posso ajudar com isso.\n\nQual tipo de informação você está procurando? Quer saber qual loja vendeu mais hoje, o total de vendas no mês ou a previsão de vendas para o mês?",
              "to": null,
              "participant": null,
              "hasMedia": false,
              "media": null,
              "ack": 2,
              "ackName": "DEVICE",
              "replyTo": null,
              "_data": {
                "Info": {
                  "Chat": "557996627815@s.whatsapp.net",
                  "Sender": "557996627815:22@s.whatsapp.net",
                  "IsFromMe": false,
                  "IsGroup": false,
                  "BroadcastListOwner": "",
                  "ID": "3EB0B378162B0AF4223FB9",
                  "ServerID": 0,
                  "Type": "text",
                  "PushName": "557996627815",
                  "Timestamp": "2025-05-28T16:21:59Z",
                  "Category": "",
                  "Multicast": false,
                  "MediaType": "",
                  "Edit": "",
                  "MsgBotInfo": {
                    "EditType": "",
                    "EditTargetID": "",
                    "EditSenderTimestampMS": "0001-01-01T00:00:00Z"
                  },
                  "MsgMetaInfo": {
                    "TargetID": "",
                    "TargetSender": ""
                  },
                  "VerifiedName": null,
                  "DeviceSentMeta": null
                },
                "Message": {
                  "extendedTextMessage": {
                    "text": "Entendi que você está procurando por informações de vendas! Eu posso ajudar com isso.\n\nQual tipo de informação você está procurando? Quer saber qual loja vendeu mais hoje, o total de vendas no mês ou a previsão de vendas para o mês?",
                    "contextInfo": {
                      "expiration": 0,
                      "ephemeralSettingTimestamp": 1711037918,
                      "disappearingMode": {
                        "initiator": 0,
                        "trigger": 1,
                        "initiatedByMe": false
                      }
                    }
                  }
                },
                "IsEphemeral": false,
                "IsViewOnce": false,
                "IsViewOnceV2": false,
                "IsViewOnceV2Extension": false,
                "IsDocumentWithCaption": false,
                "IsLottieSticker": false,
                "IsEdit": false,
                "SourceWebMsg": null,
                "UnavailableRequestID": "",
                "RetryCount": 0,
                "NewsletterMeta": null,
                "RawMessage": {
                  "extendedTextMessage": {
                    "text": "Entendi que você está procurando por informações de vendas! Eu posso ajudar com isso.\n\nQual tipo de informação você está procurando? Quer saber qual loja vendeu mais hoje, o total de vendas no mês ou a previsão de vendas para o mês?",
                    "contextInfo": {
                      "expiration": 0,
                      "ephemeralSettingTimestamp": 1711037918,
                      "disappearingMode": {
                        "initiator": 0,
                        "trigger": 1,
                        "initiatedByMe": false
                      }
                    }
                  }
                }
              }
            },
            "environment": {
              "version": "2025.4.1",
              "engine": "GOWS",
              "tier": "CORE",
              "browser": null
            }
          },
          "webhookUrl": "http://host.docker.internal:5678/webhook-test/webhook",
          "executionMode": "test"
        }
      }
    ]
  },
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "dados",
            "type": "main",
            "index": 0
          },
          {
            "node": "Consulta para verificar o valor da venda do dia atual está preenchida",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "dados": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "visualizar mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "visualizar mensagem": {
      "main": [
        [
          {
            "node": "enviar mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consulta para verificar o valor da venda do dia atual está preenchida": {
      "main": [
        [
          {
            "node": "Formatando dados vindos do banco",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatando dados vindos do banco": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Corrigindo formato da mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Corrigindo formato da mensagem": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v0",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "02a13003-539f-45fb-b1ed-7e6c5bb55e77",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d1ec179c2e2d8206215debb43dd23592b0fea90b6dc9de9c7df49d6a6e8613be"
  },
  "id": "tAVHyKA48Ysqg6n6",
  "tags": []
}