melhorias_futuras/chatbot_melhorias_futuras.json
{
  "name": "chatbot_melhorias_futuras",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "985afaf5-8e4e-44d1-bb1c-001a0084ded4",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        880,
        0
      ],
      "id": "e23656d6-a85f-47b2-95fd-b30283c705b7",
      "name": "Webhook",
      "webhookId": "985afaf5-8e4e-44d1-bb1c-001a0084ded4"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "21006793-5ad2-48b0-aa9a-d64b627e9cf3",
              "name": "session",
              "value": "={{ $('Webhook').item.json.body.session }}",
              "type": "string"
            },
            {
              "id": "ec6bca56-29c6-4e81-81fe-e1a5184e581f",
              "name": "chatId",
              "value": "={{ $('Webhook').item.json.body.payload.from }}",
              "type": "string"
            },
            {
              "id": "d199e616-9772-48d1-8cd6-fdb8b820e7b3",
              "name": "pushName",
              "value": "={{ $('Webhook').item.json.body.payload._data.Info.PushName }}",
              "type": "string"
            },
            {
              "id": "466fbac7-2a10-405e-9bda-ba69b18a8294",
              "name": "payloadId",
              "value": "={{ $('Webhook').item.json.body.payload.id }}",
              "type": "string"
            },
            {
              "id": "18a86d59-fade-4461-a7bb-270801a174c4",
              "name": "event",
              "value": "={{ $('Webhook').item.json.body.event }}",
              "type": "string"
            },
            {
              "id": "710022ae-6828-4b3c-b9ca-ed52204f035d",
              "name": "message",
              "value": "={{ $('Webhook').item.json.body.payload.body }}",
              "type": "string"
            },
            {
              "id": "39769a81-ce60-4d6b-85b8-8854332b6a98",
              "name": "fromMe",
              "value": "={{ $('Webhook').item.json.body.payload.fromMe }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1100,
        0
      ],
      "id": "a3d83020-c539-4a12-b13d-4bafc3cfa4aa",
      "name": "dados"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.event }}",
                    "rightValue": "message",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "8e0656d3-e277-4f1b-a5fa-86f1247f71d0"
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1280,
        0
      ],
      "id": "9d51fd8f-d11c-46e1-9b85-b7ae42327f52",
      "name": "Switch"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message }}",
        "options": {
          "systemMessage": "=Você é um assistente virtual que atende usuários via WhatsApp com foco em informações sobre vendas. Seu papel é responder de forma clara, objetiva e amigável, utilizando linguagem natural e acessível.\n\nAs solicitações mais comuns incluem:\n\nTotal de vendas no mês\n\nFaturamento do dia (somando o valor das vendas realizadas)\n\nComparação de faturamento entre o ano atual e o anterior\n\nComparação de vendas entre o mês atual e o mês anterior\n\nAo apresentar valores, utilize a formatação monetária adequada (ex: R$ 1.250,00) e destaque os números de forma que fiquem visuais e compreensíveis.\n\nSempre que possível, forneça contexto adicional que possa auxiliar na tomada de decisões, como variações percentuais, tendências e observações relevantes. Mantenha um tom leve, prestativo e profissional.\n\nSeu banco de dados é esse aqui: {{ $json.content }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        1640,
        0
      ],
      "id": "7dc1ef2e-0519-464d-8053-faca491f89b9",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('dados').item.json.chatId }}",
        "sessionTTL": 900,
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.5,
      "position": [
        1660,
        240
      ],
      "id": "ea5818a4-126c-43f3-9032-6a320202441f",
      "name": "Redis Chat Memory",
      "credentials": {
        "redis": {
          "id": "ty4uB0gOfLvKNJq6",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Send Text",
        "session": "={{ $('dados').item.json.session }}",
        "chatId": "={{ $('Code').item.json.chatId }}",
        "text": "={{ $('AI Agent').item.json.output }}",
        "requestOptions": {}
      },
      "type": "@devlikeapro/n8n-nodes-waha.WAHA",
      "typeVersion": 202502,
      "position": [
        2800,
        0
      ],
      "id": "6f415f52-c5c7-44d6-a272-5d0363ec42a1",
      "name": "enviar mensagem",
      "credentials": {
        "wahaApi": {
          "id": "ZvtcjSRygP1xcHDZ",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Send Seen",
        "session": "={{ $('dados').item.json.session }}",
        "chatId": "={{ $('Code').item.json.chatId }}",
        "messageId": "={{ $('dados').item.json.payloadId }}",
        "participant": "",
        "requestOptions": {}
      },
      "type": "@devlikeapro/n8n-nodes-waha.WAHA",
      "typeVersion": 202502,
      "position": [
        2620,
        0
      ],
      "id": "d63ac7c8-9e89-4372-bd8c-869c8219e05d",
      "name": "visualizar mensagem",
      "credentials": {
        "wahaApi": {
          "id": "ZvtcjSRygP1xcHDZ",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\n\nreturn [{\n  json: {\n    message: String(item.json.message || ''),\n    content: typeof item.json.content === 'string'\n      ? item.json.content\n      : JSON.stringify(item.json.content || '')\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1440,
        0
      ],
      "id": "1fab41c6-f798-445b-93e3-9a6aee626974",
      "name": "Corrigindo formato da mensagem"
    },
    {
      "parameters": {
        "url": "https://atos-capital-backend-docker.onrender.com/api/auth/whatsapp_numbers/",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1960,
        0
      ],
      "id": "4283d749-1990-453a-a314-cbd8b348fabe",
      "name": "GET - Whatsapp numbers"
    },
    {
      "parameters": {
        "jsCode": "const numeros = $input.first().json.numeros;\n\nconst numerosConvertidos = numeros.map(numero => {\n  // Remove o \"+\" do começo\n  let limpo = numero.replace('+', '');\n\n  // Remove o primeiro 9 após o DDD (assumindo DDI+DDD fixo = 5 dígitos)\n  // Exemplo: 5579999165932 → 55799165932\n  limpo = limpo.slice(0, 5) + limpo.slice(6);\n\n  return limpo + '@c.us';\n});\n\nreturn numerosConvertidos.map(numeroConvertido => {\n  return {\n    json: {\n      chatId: numeroConvertido\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2300,
        0
      ],
      "id": "a5486cd1-4829-42df-a09c-0e4dc0920aae",
      "name": "Code"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fbe8d023-e647-4d4c-bcb5-29841a879153",
              "name": "numerosTratados",
              "value": "={{ $json.numeros }}@c.us",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2460,
        0
      ],
      "id": "7af6fb79-b4b0-4362-9781-d48aa8f300fb",
      "name": "Pegando números formatados"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "974edfc5-45b8-4e9b-b17b-47a14c5fc8fb",
              "name": "numeros",
              "value": "={{ $json.whatsapp_numbers }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2120,
        0
      ],
      "id": "cebd80d2-2c34-436c-999b-2115c69bf094",
      "name": "Pegando números do banco remoto"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-preview-04-17",
        "options": {
          "temperature": 0.4
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1540,
        240
      ],
      "id": "7057efe0-ad24-49d6-878e-d6a5b8f54e2f",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "Gfa2NKXtel3FEJGa",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "name": "interpretador",
        "description": "Use esta ferramenta quando precisar calcular ou interpretar os dados que vieram do banco de dados, especialmente para calcular variações percentuais, diferenças entre valores, totais acumulados ou formatações customizadas. Você pode aplicar lógica de negócios, arredondar números ou transformar os dados em mensagens claras para o usuário.\n"
      },
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.1,
      "position": [
        1780,
        240
      ],
      "id": "a3b1304d-425a-4672-98a9-9890d9b696cd",
      "name": "Code Tool"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Total de vendas do mês atual\nSELECT SUM(valor_total) AS total FROM vendas WHERE MONTH(data_venda) = MONTH(GETDATE()) AND YEAR(data_venda) = YEAR(GETDATE());\n\n-- Vendas do mês passado:\nSELECT SUM(valor_total) AS total FROM vendas WHERE MONTH(data_venda) = MONTH(DATEADD(MONTH, -1, GETDATE())) AND YEAR(data_venda) = YEAR(DATEADD(MONTH, -1, GETDATE()));\n"
      },
      "type": "n8n-nodes-base.microsoftSqlTool",
      "typeVersion": 1.1,
      "position": [
        1920,
        220
      ],
      "id": "425b18cc-f33e-46a9-8b65-6d26c74012f6",
      "name": "Microsoft SQL",
      "credentials": {
        "microsoftSql": {
          "id": "nFBSJqeOZaLoIp71",
          "name": "Microsoft SQL account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "dados": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Corrigindo formato da mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "GET - Whatsapp numbers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "visualizar mensagem": {
      "main": [
        [
          {
            "node": "enviar mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Corrigindo formato da mensagem": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET - Whatsapp numbers": {
      "main": [
        [
          {
            "node": "Pegando números do banco remoto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Pegando números formatados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pegando números formatados": {
      "main": [
        [
          {
            "node": "visualizar mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pegando números do banco remoto": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Code Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Microsoft SQL": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v0",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "ddbba301-c982-415d-9cb8-99272efebaaf",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d1ec179c2e2d8206215debb43dd23592b0fea90b6dc9de9c7df49d6a6e8613be"
  },
  "id": "eMfB9sC3QkdeMMIu",
  "tags": []
}